networks

.git

checkers_game_obj
checkers_game_obj.cpp
checkers_game_obj_2
gui-checkers
*.gch
game*.json
board*.json
*.me
cy_director
*.network
tournament/tournament.cfg
user.me
log.txt


CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
test
libstdcppfsPath.txt
